# Data Directories
RAW_DATA_PATH=data/dataset.parquet
STREAMING_DIR=streaming_data
HISTORICAL_DIR=historical_data

# Column Names 
TARGET_COLUMN=Is_Anomaly
COLUMNS_TO_DROP_TRAIN=Anomaly_Type,timestamp,Machine_ID

KAFKA_BOOTSTRAP_SERVERS=redpanda:19092
TOPIC_TELEMETRY=telemetry-data

# Data Directories
STREAMING_DATASET=streaming_data.parquet


