__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
.env

ImportantThings.txt
test_1.py
notes.txt

*.parquet

historical_data/
streaming_data/
processed_datasets/
synthetic_datasets/
data/offline
data/
logs/
local_models/

kafka_storage/


data/

redpanda_storage/
kafka_storage/
redis_data/
qdrant_data/

*.parquet
*.pkl
*.joblib
*.db
*.sqlite
*.log
*.csv

part-*
_SUCCESS
.*.crc
.part-*.crc
._SUCCESS.crc

.vscode/
.vscode/settings.json

data/registry


outputs/
MLOPS_FLOW_EXPLAINED.md
BUGFIX_LOG.md
.idea/
*.swp
.DS_Store

BUGFIX_LOG.md
TODO.md

COMPREHENSIVE_PROJECT_DOCS.md
MLOPS_FLOW_EXPLAINED.md
MASTER_LOGIC_FLOW.md

services\redis_service\data

USAGE_MAKEFILE.md

